asgiref
certifi
charset-normalizer
contourpy
cycler
Django
django-stubs
django-stubs-ext
fonttools
idna
joblib
kiwisolver
matplotlib
mplfinance
mypy
mypy-extensions
numpy
packaging
pandas
pickle-mixin
pillow
psycopg2-binary
pyparsing
python-dateutil
python-dotenv
pytz
requests
scikit-learn
scipy
six
sqlparse
threadpoolctl
types-PyYAML
typing_extensions
tzdata
urllib3
