<!-- templates/stock_analyzer.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StockAnalyzer</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <!-- Header -->
    <header class="bg-sky-900 p-6 text-center text-white">
      <h1 class="text-3xl font-bold">StockAnalyzer</h1>
    </header>

    <!-- Main Content -->
    <div class="container mx-auto p-6 mt-10">
      <!-- Form Section -->
      <div class="bg-white rounded-lg shadow-lg p-8 max-w-lg mx-auto">
        <h2 class="text-2xl font-semibold mb-6 text-gray-800 text-center">
          Manage Stock Symbols
        </h2>

        <!-- Form for Adding Symbol -->
        <form id="manage-symbols-form" method="POST">
          {% csrf_token %}
          <!-- Add Symbol Field -->
          <div class="mb-4">
            <label for="symbol" class="block text-gray-700 font-medium mb-2">
              Add Symbol
            </label>
            <input
              type="text"
              id="symbol"
              name="symbol"
              placeholder="Enter stock symbol"
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
            />
          </div>

          <!-- Buttons -->
          <div class="flex justify-between mt-6">
            <button
              type="submit"
              name="add_symbol"
              class="bg-emerald-500 hover:bg-emerald-600 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600"
              onClick="addSymbol()"
            >
              Add Symbol
            </button>
            <button
              type="submit"
              name="refresh_existing"
              class="bg-emerald-500 hover:bg-emerald-600 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600"
              onClick="refreshSymbol()"
            >
              Refresh Existing
            </button>
          </div>
        </form>
        <script>
          function addSymbol() {
            document.getElementById('manage-symbols-form').action="/financial_data/add/";
          }

          function refreshSymbol() {
            document.getElementById('manage-symbols-form').action="/financial_data/refresh/";
          }
        </script>
      </div>

      <!-- Stock Symbol Search Section -->
      <div class="bg-white rounded-lg shadow-lg p-8 max-w-lg mx-auto mt-10">
        <h2 class="text-2xl font-semibold mb-6 text-gray-800 text-center">
          Search Stock Prices
        </h2>

        <!-- Form for Stock Symbol Search -->
        <form method="GET" action="{% url 'list_data_view' %}">
          <div class="mb-4">
            <label
              for="search_symbol"
              class="block text-gray-700 font-medium mb-2"
            >
              Search Symbol
            </label>
            <input
              type="text"
              id="search_symbol"
              name="search_symbol"
              placeholder="Enter stock symbol (e.g., IBM)"
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
            />
          </div>
          <div class=" ">

          </div>

          <!-- Search Button -->
          <div class="flex justify-center mt-6">
            <button
              type="submit"
              class="bg-sky-500 hover:bg-sky-600 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600"
            >
              Search
            </button>
          </div>
        </form>
      </div>

      <!-- Stock Price Data Table -->
      {% if stock_data %}
      <div class="bg-white rounded-lg shadow-lg p-8 max-w-4xl mx-auto mt-10">
        <h2 class="text-2xl font-semibold mb-6 text-gray-800 text-center">
          Stock Price Data for {{ symbol }}
        </h2>

        <!-- Table for Stock Prices -->
        <div class="overflow-x-auto">
          <table class="min-w-full bg-white">
            <thead class="bg-gray-200 text-gray-600">
              <tr>
                <th class="py-2 px-4">Date</th>
                <th class="py-2 px-4">Open</th>
                <th class="py-2 px-4">High</th>
                <th class="py-2 px-4">Low</th>
                <th class="py-2 px-4">Close</th>
                <th class="py-2 px-4">Volume</th>
              </tr>
            </thead>
            <tbody>
              {% for entry in stock_data %}
              <tr>
                <td class="py-2 px-4 border">{{ entry.date }}</td>
                <td class="py-2 px-4 border">{{ entry.open_price }}</td>
                <td class="py-2 px-4 border">{{ entry.high_price }}</td>
                <td class="py-2 px-4 border">{{ entry.low_price }}</td>
                <td class="py-2 px-4 border">{{ entry.close_price }}</td>
                <td class="py-2 px-4 border">{{ entry.volume }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      <div class="bg-white rounded-lg shadow-lg p-8 max-w-lg mx-auto mt-10">
        <h2 class="text-2xl font-semibold mb-6 text-gray-800 text-center">
          Backtesting
        </h2>

          <div class="mb-4">
            <label
              for="symbol"
              class="block text-gray-700 font-medium mb-2"
            >
              Search Symbol
            </label>
            <input
              type="text"
              id="symbol-fld"
              placeholder="Enter stock symbol (e.g., IBM)"
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent mb-4"
            />
            <label
              for="amt-fld"
              class="block text-gray-700 font-medium mb-2"
            >
              Amount
            </label>
            <input
              type="text"
              id="amt-fld"
              placeholder="Enter amount"
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent mb-4"
            />
            <label
              for="sell_threshold"
              class="block text-gray-700 font-medium mb-2"
            >
              Sell Threshold
            </label>
            <input
              type="text"
              id="sell_threshold"
              placeholder="Enter sell threshold"
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent mb-4"
            />
            <label
              for="buy_threshold"
              class="block text-gray-700 font-medium mb-2"
            >
              Buy Threshold
            </label>
            <input
              type="text"
              id="buy_threshold"
              placeholder="Enter but threshold"
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent mb-4"
            />
          </div>
          <div class=" ">

          </div>

          <div class="flex justify-between mt-6">
            <button
              name="get-pdf"
              class="bg-emerald-500 hover:bg-emerald-600 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600"
              onClick="getPDF()"
            >
              Get PDF
            </button>
            <button
              name="get-json"
              class="bg-emerald-500 hover:bg-emerald-600 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600"
              onClick="getJSON()"
            >
              Get JSON
            </button>
          </div>
        <script>
          function constructBacktestURL(pdf) {
            const symbol = document.getElementById('symbol-fld').value;
            const amount = document.getElementById('amt-fld').value;
            const sellThreshold = document.getElementById('sell_threshold').value;
            const buyThreshold = document.getElementById('buy_threshold').value;

            return "/backtesting?format=" + (pdf? "pdf" : "json") + "&symbol=" + symbol + 
                          "&winsell=" + sellThreshold + "&winbuy=" + buyThreshold + "&amt=" + amount;
          }

          function getPDF() {
            window.open(constructBacktestURL(true));
          }

          function getJSON() {
            window.open(constructBacktestURL(false));
          }
        </script>
      </div>

      <div class="bg-white rounded-lg shadow-lg p-8 max-w-lg mx-auto mt-10">
        <h2 class="text-2xl font-semibold mb-6 text-gray-800 text-center">
          AI Prediction
        </h2>

          <div class="mb-4">
            <label
              for="symbol"
              class="block text-gray-700 font-medium mb-2"
            >
              Search Symbol
            </label>
            <input
              type="text"
              id="symbol-ai-fld"
              placeholder="Enter stock symbol (e.g., IBM)"
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent mb-4"
            />
          </div>
          <div class=" ">

          </div>

          <div class="flex justify-between mt-6">
            <button
              class="bg-emerald-500 hover:bg-emerald-600 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600"
              onClick="getAIPDF()"
            >
              Get PDF
            </button>
            <button
              class="bg-emerald-500 hover:bg-emerald-600 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600"
              onClick="getAIJSON()"
            >
              Get JSON
            </button>
          </div>
        <script>
          function constructAIURL(pdf) {
            const symbol = document.getElementById('symbol-ai-fld').value;
            return "/ai_prediction?format=" + (pdf? "pdf" : "json") + "&symbol=" + symbol;
          }

          function getAIPDF() {
            window.open(constructAIURL(true));
          }

          function getAIJSON() {
            window.open(constructAIURL(false));
          }
        </script>
    </div>
  </body>
</html>
